*{
    padding: 0;
    margin: 0;
}
.footer{
    padding-top: 2%;
    height: 70%;
    background-color:rgb(31, 42,55);
    text-align: center;
    color: white;
}
.footer div{
    display:flex;
    
}
.footer a h1{
    color:rgba(0, 0, 205, 0.912);
    padding-bottom: 1.2rem;
}
.footer a{
    text-decoration: none;
    color: white;
    padding-bottom: 1.2rem;
    padding-top: 1.2rem;
}
.foter{
    justify-content: center
    
}
.footer p{
    padding-bottom: 2rem;
}
.foter div{
    margin-right: 20px;
}
.foter div a{
text-decoration: none;
color: white;}